.meio {
    text-align: center;
    background: linear-gradient(180deg, rgba(204, 197, 185, 0.57) 0%, rgba(255, 252, 242, 1) 100%);
}

.card0 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 3px solid #CCC5B9;
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}


.texto {
    border-right: 1px solid #CCC5B9;
}

.texto1 {
    border-right: 1px solid #CCC5B9;
}

.title1 {
    padding: 3%;
}

.title2 {
    padding: 3%;
}

.title3 {
    padding: 3%;
}

@media only screen and (max-width: 600px) {
    .card0 {
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 3px solid #CCC5B9;
        width: 50%;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 2%;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: space-between;
    }

    
    .texto{
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #CCC5B9 ;
    }
}