<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    <title>Landing-Page</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">ToP</a>
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Serviços</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
            <button>Revise seu Estoque</button>
        </nav>
    </header>
    <main>
        <section class="inicio">
            <h1>BOAS-VINDAS AO ToP</h1>
            <h2>A organização que sua empresa necessita</h2>
            <button class="btn">Revise seu Estoque</button>
        <div class="imagem">
            <img src="{% static 'landing/img/foto1.png' %}"> 
        </div>
        <div class="imagem2">
            <img src="{% static 'landing/img/Div-numbers.png' %}" alt="">
        </div>  
        </section>
       
        <section class="meio">
            <h1>Serviços</h1>
            <h2>Como podemos ajudá-lo a organizar melhor seu estoque?</h2>
            <div class="imagem3">
                <img src="{% static 'landing/img/Card1.png' %}">
                <img src="{% static 'landing/img/Card2.png' %}"> 
                <img src="{% static 'landing/img/Card3.png' %}"> 
            </div>
        </section>
        <section class="meio2">
            <h1>Sobre</h1>
            <div class="imagem4">
                <img src="{% static 'landing/img/foto2.png' %}"> 
            </div>
            <h2>Entenda quem somos e porquê existimos</h2>
            <p>ToP é um projeto feito para auxiliar na organização de estoques de pequenas empresas, em localidades diversas. Muitos negócios se encontram em bagunça, falta de organização, pois ainda trabalham com papel e documentação física, fazendo com que muitos problemas apareçam. Com um sistema acessível para todos os empresários e donos de pequenos negócios, a ToP vem para ajudar</p>
        </section>
        <section class="final">
            <h1>Entre em contato com a gente!</h1>
            <div class="imagem5">
                <img src="{% static 'landing/img/foto3.png' %}"> 
            </div>
        </section>
        <footer>
            <h1>ToP</h1>
            <p>Todos os direitos reservados.
                ©2022 - ToP</p>
        </footer>
    </main>
</body>
</html>