<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'login/css/registrar.css' %}">
    <title>Registrar-se</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="col-11 col-sm-6 col-lg-3">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title text-center">Registrar-se</h5>
                <label for="inputEmail4" class="form-label">Email:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="name@example.com">
            </div>
            <div class="card-body">
                <label for="inputPassword4" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="card-body">
                <label for="inputPassword4" class="form-label">Confirme a Senha:</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary">Registrar-se</button>
            </div>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>